body {
    padding-top: 80px;
    padding-bottom: 20px;

}
.colorB{
	color: #45ADA8;
}

.camposModal{
	margin-top: 5px;
}

.alinhar{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

a.nounderline:link { 
 text-decoration:none; 
 color: #2C3E50;
} 

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
	background-color: #1A242F;
}

.img{
	height: 55%;
	 float:right;
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.botao{
    font-size: 85%;
}

