
<div class="panel-heading">
   <button type="button" ng-click="limparColaborador()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Novo Registro </button>
   <!-- Modal -->
   <div id="myModal" class="modal fade" role="dialog" >
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Novo Colaborador</h4>
            </div>
            <div class="alinhar">
               <div ng-class="classAlert" ng-show="submitted || showAlert" >{{message}}</div>
               <form class="form-horizontal" role="form" name="colaboradorForm">

                  <input class="form-control camposModal" type="text" name="nome" placeholder="Nome" ng-model="colaborador.nome" ng-required="true" />
                  <input class="form-control camposModal" type="text" name="setor" placeholder="Setor" ng-model="colaborador.setor" 
                     ng-required="true"/>
                  <input class="form-control camposModal" type="text" name="skype" placeholder="Skype" 
                  ng-model="colaborador.userSkype" ng-required="true"/>
                  <input class="form-control camposModal" type="text" name="senhaSkype" placeholder="Senha Skype" ng-model="colaborador.senhaSype" ng-required="true"/>
                  <input class="form-control camposModal" type="email" name="email" placeholder="Email" ng-model="colaborador.userEmail"  ng-required="true" />
                  <input class="form-control camposModal" type="text" name="senha Email" placeholder="Senha Email" ng-model="colaborador.senhaEmail" 
                     ng-required="true"/>
               </form>
            </div>

            <div class="modal-footer">
               <button class="btn btn-success btn-block" ng-click="adicionarColaborador(colaborador)" ng-disabled="colaboradorForm.$invalid" data-dismiss="modal">
               <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
               Salvar
               </button>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="panel-heading">
   <h3 class="panel-title">Colaboradores</h3>
</div>

<div class="panel-body">
    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Quem você está buscando?" 
     ng-keyup="filtrar(criterioDeBusca, currentPage)"/>
    <div class="table-responsive">
   <table class="table table-hover" ng-show="colaboradores.length > 0">
      <thead>
         <tr>
            <th>#</th>
            <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
            <th><a href="" ng-click="ordenarPor('setor')">Setor</a></th>
            <th>Ação</th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="colaborador in colaboradores | orderBy:criterioOrdenacao:direcaoOrdenacao" 
         id="_colaborador">
            <th scope="row">{{colaborador.codigo}}</th>
            <td><a class="nounderline" href="#/detalhesColaborador/{{colaborador.codigo}}">{{colaborador.nome}}</a></td>
            <td>{{colaborador.setor}}</td>
            <td>
               <a id="_editar" data-toggle="modal" ng-click="pegaDadosEdicao(colaborador)" data-target="#myModal" class="btn btn-default" role="button" title="Editar">
               <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
               </a>
               <a id="_remover" ng-click="excluir(colaborador)" class="btn btn-default" role="button" title="Remover">
               <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
   
               </a>
            </td>
         </tr>
      </tbody>
   </table>
   
<pagination total-items="totalItems" ng-model="currentPage" max-size="tamanhoMaximo" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-click="loading(currentPage, criterioDeBusca)" items-per-page="5"></pagination>
<pre>Page: {{currentPage}} / {{numPages}}</pre>
</div>
</div>