<div class="jumbotron">
<table class="table">
	<tr>
		<td><p>{{colaborador.nome}}</p></td>
	</tr>
	<tr>
	 <td><b class="colorB">Setor:</b> {{colaborador.setor}}</td>
	</tr>
	<tr>
		<td><b class="colorB">Skype:</b> {{colaborador.userSkype}}</td>
	</tr>
	<tr>
		<td><b class="colorB">Senha Skype:</b> {{colaborador.senhaSype}}</td>
	</tr>
	<tr>
		<td><b class="colorB">Email:</b> {{colaborador.userEmail}}</td>
	</tr>
	<tr>
		<td><b class="colorB">Senha Email:</b> {{colaborador.senhaEmail}}</td>
	</tr>
</table>
<a href="#/home">Voltar</a>
</div>