<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
          <a class="navbar-brand alinhaTitulo" href="#/home">ORÁCULO</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
            <li>
               <p ng-init="init()" class="navbar-text usuarioLogado"><i class="fa fa-fw fa-user"></i>{{user.usuario.nome}}</p>
            </li>
            <li> 
               <a ng-click="sair()" class="logoff" href="#/"><i class="fa fa-fw fa-power-off"></i> Sair</a>       
            </li>
         </ul>
      </div>

   <div id="wrapper">
    <a id="menu-toggle" href="#menu" ng-click"menux=true">
            MENU
        </a>

   <!-- Sidebar -->
   <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
         <li class="sidebar-brand">
            <img src="upload/users/{{user.usuario.foto}}" class="img-responsive img-arredondadaSide" alt="Responsive image"/>      
         </li>
         </br>
         </br>
         </br>
         <li class="active">
            <a href="#/home"><i class="fa fa-home"></i> Home</a>
         </li>
         <li>
            <a class="dropdown-toggle" data-toggle="collapse" data-target="#configuracoes" role="button" 
               aria-haspopup="true" aria-expanded="false" ng-if="user.usuario.permissao ==1"><i class="fa fa-cog"></i> Configurações <span class="caret">
            </span></a>
            <ul id="configuracoes" class="collapse">
               <li>
                  <a href="#/usuario">Usuários</a>
               </li>
            </ul>
         </li>
      </ul>

   </div>
   <!-- /#sidebar-wrapper -->
</nav>
  
</script>
