<nav class="navbar navbar-default navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#/home">Oraculo</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
            <li class="active">
               <a href="#/home">Home</a>
            </li> 
         <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-if="user.usuario.permissao ==1">Configurações <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/usuario">Novo Usuário</a></li>
          </ul>
        </li>

         </ul>
         <ul class="nav navbar-nav navbar-right">
          <li>
            
            <img src="upload/users/{{user.usuario.foto}}"  class="img-responsive img-arredondada" alt="Responsive image" >
     
          </li>
            <li><p ng-init="init()" class="navbar-text usuarioLogado">{{user.usuario.nome}}</p></li>
            <li> 
               <a ng-click="sair()" class="logoff" href="#/">Sair</a>       
            </li>
         </ul>
      </div>
   </div>
</nav>
